html {
    background-color: #FFC04C;
}

body {
    width: 75%;
   margin: 0 auto; 

   display: flex;
   min-height: 100vh;
   flex-direction: column;
   background-color: white;
}

h1 {
    text-align: center;
    font-size: 65px;
    margin: 50px;
}